@(title: String, styles: Html = Html(""), scripts: Html = Html(""), bodyClass: String = "")(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=100">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="touch-event-mode" value="native">
    <meta name="cursor-event-mode" value="native">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/hopscotch.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    @styles
</head>
<body class="@bodyClass">
  @content

  <!--JS files that can be loaded later-->
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/hopscotch-0.1.min.js")" type="text/javascript"></script>
  @scripts
</body>
</html>
